#Python
__pycache__/
dist/
*.egg-info/

# mypy
.mypy_cache/

# Pytest
.pytest_cache/

# IDE
.vscode/

# Ruff
.ruff_cache/

# Venv
venv/

# Claude
.claude/

# Claude Vault specific
.claude-vault/
*.db
